<!--<template>-->
<!--    <v-app app>-->
<!--        <v-container>-->
<!--            <v-btn color="primary">-->
<!--                Primary-->
<!--            </v-btn>-->
<!--            <v-btn color="secondary">-->
<!--                Secondary-->
<!--            </v-btn>-->
<!--            <v-btn color="error">-->
<!--                Error-->
<!--            </v-btn>-->
<!--        </v-container>-->
<!--    </v-app>-->
<!--</template>-->

<template>
    <div>

            <AppHeader></AppHeader>
            <ImgCover></ImgCover> 

        <div v-if="currentRouteName == 'index' ">
            <Services></Services>
            <BussinessOp></BussinessOp>
            <About></About>
            <News></News>
            <Certificate></Certificate>
            <ContactUs></ContactUs>
            <Footer></Footer>
        </div>

 

            <router-view></router-view>




    </div>

  


     
</template>





<script>
   
    import AppHeader from "@components/AppHeader";
    import Footer from "@components/Footer";
    import ImgCover from "@components/ImgCover"
    import Services from "@components/Services"
    import About from "@components/About";
    import BussinessOp from "@components/BussinessOp"
    import News from "@components/News"
    import Certificate from "@components/Certificate"
    import ContactUs from "@components/ContactUs"

    export default {
      components: {
             AppHeader, 
             Footer,
             ImgCover,
             Services,
             About,
             BussinessOp,
             News,
             Certificate,
             ContactUs,
              },
             
        mounted() {},
        computed: {
            currentRouteName() {
      // console.log('this.$route.name',this.$route.name);
        console.log("หน้า"+this.$route.name);
        return this.$route.name;
    },
           

        }
    };
</script>

<!--<template>-->
<!--    <div v-if="currentRouteName === 'index'">-->
<!--        &lt;!&ndash; <go-top bg-color="#00267d" :bottom="50"></go-top> &ndash;&gt;-->
<!--        <v-app>-->
<!--            <div id="homeTop-template">-->
<!--                <v-container>-->
<!--                    <app-header></app-header>-->
<!--                    <app-header2></app-header2>-->
<!--                </v-container>-->
<!--                <v-container class="padding-bottom">-->
<!--                    <HomeBanner />-->
<!--                </v-container>-->
<!--            </div>-->
<!--        </v-app>-->

<!--        &lt;!&ndash; <v-app id="White-template">-->
<!--      <v-container class="padding-top padding-bottom">-->
<!--        <How />-->
<!--      </v-container>-->
<!--    </v-app> &ndash;&gt;-->
<!--        &lt;!&ndash; <v-app id="White-template">-->
<!--            <v-container class="padding-top padding-bottom">-->
<!--                <CarCarousel />-->
<!--            </v-container>-->
<!--        </v-app> &ndash;&gt;-->
<!--        &lt;!&ndash; <v-app id="White-template">-->
<!--      <v-container class="padding-top padding-bottom">-->
<!--        <Asked />-->
<!--      </v-container>-->
<!--    </v-app> &ndash;&gt;-->
<!--        <v-app id="White-template">-->
<!--            <v-container class="padding-top padding-bottom">-->
<!--                <BrandCarousel />-->
<!--            </v-container>-->
<!--        </v-app>-->
<!--        <v-app id="White-template">-->
<!--            <v-container class="padding-top">-->
<!--                <Booking />-->
<!--            </v-container>-->
<!--        </v-app>-->

<!--        <v-app>-->
<!--            &lt;!&ndash; <v-container> &ndash;&gt;-->
<!--            <app-footer></app-footer>-->
<!--            &lt;!&ndash; </v-container> &ndash;&gt;-->
<!--        </v-app>-->
<!--    </div>-->

<!--    &lt;!&ndash; Another Page &ndash;&gt;-->
<!--    <div v-else>-->
<!--        <v-app id="page-template">-->
<!--            <v-container>-->
<!--                <app-header></app-header>-->
<!--                <v-content>-->
<!--                    <router-view></router-view>-->
<!--                </v-content>-->
<!--            </v-container>-->
<!--            <app-footer></app-footer>-->
<!--        </v-app>-->
<!--    </div>-->
<!--</template>-->

<!--<script>-->
<!--    import AppHeader from "@components/AppHeaderTop";-->
<!--    import AppHeader2 from "@components/AppHeaderMobile";-->
<!--    import AppFooter from "@components/AppFooter-new";-->
<!--    import HomeBanner from "@components/HomeBanner";-->
<!--    import How from "@components/How";-->
<!--    import CarCarousel from "@components/CarCarousel";-->
<!--    import Asked from "@components/Asked";-->
<!--    import BrandCarousel from "@components/BrandCarousel";-->
<!--    import Booking from "@components/Booking";-->
<!--    import GoTop from "@inotom/vue-go-top";-->

<!--    export default {-->
<!--        components: {-->
<!--            AppHeader,-->
<!--            AppHeader2,-->
<!--            AppFooter,-->
<!--            HomeBanner,-->
<!--            How,-->
<!--            CarCarousel,-->
<!--            Asked,-->
<!--            BrandCarousel,-->
<!--            Booking,-->
<!--            GoTop-->
<!--        },-->
<!--        mounted() {},-->
<!--        computed: {-->
<!--            currentRouteName() {-->
<!--                return this.$route.name;-->
<!--            }-->
<!--        }-->
<!--    };-->
<!--</script>-->

