
#waveabout{
    margin-top: -380px;
}

.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	padding: 0 70px;
}
.carousel .carousel-item {
	color: rgb(56, 56, 56);
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	min-height: 150px;
}
.carousel .carousel-item .img-box {
	width: 170px;
	height: 170px;
	margin: 0 auto;
	padding: 5px;
	
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {	
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #ff650b;
}
.carousel-control-prev, .carousel-control-next {
	width: 20px;
	height: 20px;
	margin-top: -20px;
	top: 50%;
	background: none;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 40px;
	line-height: 42px;
	position: absolute;
	display: inline-block;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 12px;
	height: 12px;
	margin: 1px 3px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {	
	background: #555;		
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}




// ----------------------------------------aboutcompany-------------------------------------------------
.aboutcompany{
	display: flex;
	justify-content: center;
}

.manageboard{
	display: flex;
	justify-content: center;
}

.cardob{
	color: darkmagenta;
}




  
  /*************************
	Accordion style
  *************************/
  *,*:before,*:after {
	box-sizing:border-box;
  }
  
  
  
  /* STRTUTTURA */
  .radio-accordion {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
  }
  
  .radio-accordion-title {
	margin-right: 1px;
	width:100%;
	position:relative;
  }
  
  .radio-accordion-title > label {
	 background: #2caeff;
	 min-height: 40px;
	 color: white;
	font-size: 18px;
	line-height:1.5em;
	padding:0 10px;
	cursor: pointer;
	display: block;
	font-weight:bold;
	  display:-webkit-flex;
	display:flex;
	align-items:center;
	border-bottom:2px solid #0089df;
	padding-right:50px;
  }
  
  .radio-accordion-title > label:after {
  content: '';
	  position: absolute;
	  top: 0;
	  right: 0;
	  border-left: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-top: 5px solid white;
	  border-right: 5px solid white;
  }
  
  .radio-accordion-body {
	padding: 20px;
	 width:100%;
	background:white;
	font-size:14px;
	border-top:1px solid #f5f5f5;
  }
  
  /* COMPORTAMENTO + COLORI TAB */
  .radio-accordion input[type=radio] {
	display: none;
  }
  
  .radio-accordion input[type=checkbox] {
	display: none;
  }
  
  .radio-accordion input[type=radio]:checked + .radio-accordion-title + .radio-accordion-body {
   height:auto;
  padding:20px;
  overflow:hidden;
  transition:0.5s all;
  opacity:1;
  }
  
  .radio-accordion input[type=checkbox]:checked + .radio-accordion-title + .radio-accordion-body {
   height:auto;
  padding:20px;
  overflow:hidden;
  transition:0.5s all;
  opacity:1;
  }
  
  .radio-accordion-body {
  height:0;
  padding:0 20px;
  overflow:hidden;
  opacity:0;
  transition:0.3s all;
  
  }