// #bussinessop{
//   background-color: #d1ecff;
//   border: 2px solid rgba(255, 0, 0, 0)(255, 255, 255);
//   border-radius: 50px;
// }

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .cardbuss {
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .cardbuss .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .cardbuss .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .cardbuss .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
  }
  
  .cardbuss:hover {
    transform: scale(0.9, 0.9);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
      -5px -5px 30px 15px rgba(0,0,0,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }




  // ------------------------------------------------------------allbusinessop----------------------------------------------------------


  .allbusinessop{
    display: flex;
  justify-content: center;
 
  
  }



 /* Awesome Modal CSS */
.awesome-modal {
  display: none;
  background-color: rgb(217, 241, 255);
  box-shadow: 0 0 26px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  padding: 1rem;
  width: 450px;
  max-width: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  overflow: hidden;
  z-index: 999;
  animation: bounce .4s ease forwards;
  
  // Prevent flicker bug with fixed elements
  * { backface-visibility: hidden; }
}

.awesome-overlay {
  display: none;
  background-color: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 998;
  overflow: hidden;
  cursor: default;
}

.close-icon {
  position: absolute;
  width: 1rem;
  height: 1rem;
  top: .7rem;
  right: .7rem;
  transition: opacity .2s ease;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: 2px;
    background-color: #999;
  }

  &::before { transform: translate(-50%, -50%) rotate(45deg); }
  &::after { transform: translate(-50%, -50%) rotate(135deg); }
}

.modal-title { margin-top: 0; }

:target {
  display: block;

  ~ .awesome-overlay { display: block; }
}

@keyframes bounce {
  0% { transform: translate3d(-50%, -50%, 0) scale(0.7); }
  45% { transform: translate3d(-50%, -50%, 0) scale(1.05); }
  80% { transform: translate3d(-50%, -50%, 0) scale(0.95); }
  100% { transform: translate3d(-50%, -50%, 0) scale(1); }
}

#close {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

/*
 * You can add the class 'stop-scrolling' to
 * body tag (with JS), to prevent page scroll
 */
body.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



// Let's make things pretty :)
* { box-sizing: border-box; }




 