.contactus{
    display: flex;
  justify-content: center;
}


// --------------------------------------------------------------------------contact

.contact{
  display: flex;
  justify-content: center;
}


.cardcontact:hover{
  transform: translateY(-20px) scale(1.0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}


  .nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #003e77;
    background: rgb(211, 234, 255);
}



/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


.tab-pane{
  background-color: rgb(211, 234, 255);
}

// .formletter{
//   display: flex;
//   justify-content: center;
// }










// --------------------------------------------------------------------------location


.location{
  display: flex;
justify-content: center;
}


.maps{
  width: 100%;
  border: 1px red;
  border-radius: 20px;
}

