@import 'vuetify/dist/vuetify.min.css';
@import 'https://unpkg.com/@webpixels/css@1.0/dist/index.css';


body {
    font-family: 'Kanit', sans-serif;
    // background: #d6a885;
    scroll-behavior: smooth;
    
  }

  .logonav{
    width: 100px;
    border: 1px rgba(255, 0, 0, 0);
    border-radius: 10px;
  }


#logo{
    width: 50px;
    height: 50px;
    padding-top: 10px;
    // color: #f57c2c73;
}

#menuicon{
    width: 15px;
    height: 15px;
}

.btn.btn-info span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn.btn-info span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn.btn-info:hover span {
    padding-right: 25px;
  }
  
  .btn.btn-info:hover span:after {
    opacity: 1;
    right: 0;
  }





