.news{
  display: flex;
  justify-content: center;
}
hr { /*dummy content*/
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
} 

hr:last-child {  /*dummy content*/
  margin-right: 60%;
}

.image { /*dummy content*/
  padding-bottom: 50%;
  width: auto;
  height: 100px;
} 

.page {
  padding: 2em;
  background: #cecece;
  max-width: 1100px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}
.article:hover{
  transform: translateY(-20px) scale(1.0);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  
  
  
}


.article {
  padding: 1em;
  background: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 15px;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.article:nth-child(1) {
  grid-column: 1 / 5;
  background: rgba(200,200,255,0.3)
}

.article:nth-child(1)>hr.image {
  padding-bottom: 30%;
}

.article:nth-child(1)>hr:last-child {
  margin-right: 20%;
  height: 28px
}

// .article:nth-child(1):after {
//   content: "grid-column: 1 / 5";
// }

.article:nth-child(8) {
  grid-column: span 3 / -1;
  background: rgba(255,200,255,0.3)
}
.article:nth-child(8):after {
  content: "grid-column: span 3 / -1";
}

.article:nth-child(12) {
  grid-column: 1 / 4;
  background: rgba(255,200,255,0.3)
}
.article:nth-child(12):after {
  content: "grid-column: 1 / 4";
}

.article:after {
  color: #808;
  font-weight: bold;
  font-family: courier;
}

@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }

  .article {
    margin-bottom: 2em;
  }
}


//------------ -----other----------------





.cardnews {
 width: 100%;
}

.allnews{
  display: flex;
  justify-content: center;
}

