// Fonts
// @import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
// @import url('https://fonts.googleapis.com/css?family=Prompt&display=swap');


// Vuetify
@import '~vuetify/dist/vuetify.min.css';





// Material Icon
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

// Hover Master
@import "~hover.css/css/hover-min.css";

// Font Awesome
@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Sweet Alert
@import '~sweetalert2/dist/sweetalert2.min.css';

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';

// Variables
@import 'variables';

//bootstrap
@import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';


// Responsive
@import 'responsive/responsive';


// is-fixed-top
@import 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css';

//home
@import 'home';


//services
@import 'services';

//about
@import 'about';

//news
@import 'news';

//Bussinessop
@import 'bussinessop';

//Certificate
@import 'certificate';

//contact
@import '_contact';

//footer
@import '_footer';


@import "https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css";


@import 'font/import';
@import 'font/font';
