<template>
    <section id="aboutcompany">
        <v-container class="aboutcompany">
            <v-col
                cols="10">

                     <center><p
                    class="font-weight-bold"
                    style="font-size:25px"
                    >
                    เกี่ยวกับเรา</p></center><br>
                        
 <!-- Demo header-->
                     
              <div class="radio-accordion">

                        <input id="tab1" type="radio" name="tabs" checked="checked"   />
                        <div class="radio-accordion-title">
                        <label for="tab1">ความเป็นมา</label>
                        </div>
                        <div class="radio-accordion-body">
                             <center><p
                                class="font-weight-bold"
                                style="font-size:25px"
                                >
                                ความเป็นมา</p></center><br>
                            <v-img src="images/timeline.png" class="manageboard"/>
                        </div>


                        <input id="tab2" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab2">แผนผังองค์กร</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            แผนผังองค์กร</p></center><br>
                            <v-img src="images/board1.png" class="manageboard"/>
                        </div>



                        <input id="tab3" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab3">คณะกรรมการบริษัท</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            คณะกรรมการบริษัท(Board Of Director)</p></center><br>
                            <v-img src="images/structure.png" class="manageboard"/>
                        </div>

                        
                        <input id="tab4" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab4">คณะกรรมการตรวจสอบ</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            คณะกรรมการตรวจสอบ</p></center><br>
                            <v-img src="images/check.png" class="manageboard" />
                        </div>


                        <input id="tab5" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab5">คณะกรรมการสรรหาและพิจารณาค่าตอบแทน</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            คณะกรรมการสรรหาและพิจารณาค่าตอบแทน</p></center><br>
                            <v-img src="images/salary.png" class="manageboard"/>
                        </div>


                        
                        <input id="tab6" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab6">คณะกรรมการบริหารความเสี่ยง</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            คณะกรรมการบริหารความเสี่ยง</p></center><br>
                            <v-img src="images/risk.png" class="manageboard"/>
                        </div>


                        <input id="tab7" type="radio" name="tabs" />
                        <div class="radio-accordion-title">
                        <label for="tab7">คณะกรรมการบริหาร</label>
                        </div>
                        <div class="radio-accordion-body">
                            <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            คณะกรรมการบริหาร (Ex-com)</p></center><br>
                            <v-img src="images/manage.png" class="manageboard"/>
                        </div>

                </div>



            </v-col>
         
        </v-container>
    </section>
</template>

<script>


export default {
    name:"aboutcompany"
    
        
    };

</script>
