<template>
    <section id="allbusinessop">
          <v-container class="allbusinessop">
                    <v-col
                    cols="10"><br>
                     <center><p
                            class="font-weight-bold"
                            style="font-size:25px"
                            >
                            โรงเรียนสอนขับรถ</p></center><br>

                            <div class="businessop">
                                 <p>
                                            สถาบันสอนขับรถไอดี ไดร์ฟเวอร์พร้อมสอบใบอนุญาติขับขี่ทุกประเภท บริหารงานโดย บริษัทไอดี ไดร์ฟเวอร์ จำกัดจัดตั้งขึ้นเมื่อปี พ.ศ. 2536 
                                            ได้รับอนุญาตรับรองเป็นโรงเรียนสอนขับรถเอกชนใบรับรองเลขที่ 4005007/2550 เป็นโรงเรียนต้นแบบในการสอนขับรถจักรยานยนต์ รถยนต์ รถบรรทุกรถขนส่งรถหัวลาก 
                                            พร้อมหลักสูตรลดต้นทุนการขนส่งและลดอุบัติเหตุ เน้นในเรื่องประหยัดน้ำมันเชื้อเพลิงและประหยัดค่าซ่อมบำรุงรักษารถ เมื่อจบหลักสูตรแล้ว สามารถสอบใบขับขี่ได้ที่ไอดี ไดร์ฟเวอร์
                                 </p><br>
                                 <p>
                                            หลักสูตรการเรียนการสอน การอบรมประกอบด้วยอาจารย์ที่มีความรู้ความสามารถเชียวชาญและมีประสบการณ์ได้รับการฝึกจากต่างประเทศ และรับรองโดยกรมการขนส่งทางบก 
                                            กระทรวงคมนาคมและผ่านการทดสอบมาตรฐานฝีมือ จากกรมพัฒนาฝีมือแรงงาน จึงทำให้หลักสูตรที่ใช้ในการอบรมและพัฒนา Skill นักขับรถมีประสิทธิ์ภาพ พร้อมสนามฝึกถึง 5 แห่ง 
                                            ได้แก่ ถ.ลำลูกกา ( ปทุมธานี )แก่งคอย ( สระบุรี ) ขอนแก่น ( ทางเลี่ยงขอนแก่นชุมแพ )มหาสารคาม ร่วมพื้นที่สนามฝึกที่ให้บริการ 42 ไร่ พร้อมกันนี้ทางบริษัทได้มีบริการตรวจสภาพรถ 
                                            จัดทำ กรมธรรม์ประกันภัย ต่อทะเบียนรถ
                                </p><br>
               
                                 <div class="myGallery">
                                            <v-img src="images/driver1.png" />
                                            <v-img src="images/driver2.jpg" />
                                            <v-img src="images/driver3.jpg" />
                                </div><br>

                                <center> <a class="btn btn-info" href="#modal1"><span>สนใจธุรกิจ</span></a></center>

                                 
                                    <div class="awesome-modal" id="modal1"><a class="close-icon" href="#close"></a>
                                        <center><h4 class="modal-title">ลงทะเบียนยื่นขอลงทุน</h4></center><br>
                                        <form id="business-form" >
                                            <label for="name" id="name-label">ชื่อ-นามสกุล</label><br>
                                            <input class="form-control"  id="name" name="name" required><br>
                                              <label for="email" id="email-label">อีเมลล์</label><br>
                                            <input class="form-control"  type="email" id="email" name="email" required><br>
                                              <label for="tel" id="tel-label">เบอร์ติดต่อ&nbsp;<small style="color:red;">* เพื่อเจ้าหน้าที่ติดต่อกลับ</small></label><br>
                                            <input class="form-control"  id="tel" name="tel" required><br>
                                            <center><a class="btn btn-info" ><span>ส่งข้อมูล</span></a></center>
                                        </form>


                                    
                                    <!-- <p>Hi! I am a nice modal :)</p><a class="btn btn-info" href="#close">OK</a> -->
                                    </div>



                            </div>

                    </v-col>
          </v-container>
    </section>
</template>

<script>


export default {
    name:"allbusinessop"
    
        
    };

</script>
>