<template>
    <section id="allnews"><br>
        <v-container class="allnews">
     
          <v-col
                cols="10"
                >

                    <div class="row align-self-center">
                            <div class="col-sm-8">
                                <p class="font-weight-medium"
                                        style="font-size:20px">
                                        คณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น และบริษัท ไอดีไดรฟ์ จำกัด ร่วมพัฒนาหลักสูตรอากาศยานไร้คนขับ เพื่อการเกษตร
                                </p><br>

                                <v-img src="images/news1.jpg" class="imagenews" /><br>
                                
                                <p class="font-weight-medium"
                                        style="font-size:15px">
                                        เมื่อเวลา 10:00 น วันที่ 22 กรกฎาคม 2563 ที่ห้องประชุม 1 ชั้น 8 ตึกเพียรวิจิตร คณะวิศวกรรมศาสตร์มหาวิทยาลัยขอนแก่น 
                                        มีการจัดพิธีลงนามความร่วมมือทางวิชาการระหว่างคณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น นำโดย รศ.ดร.รัชพล สันติวรากร คณบดีคณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น 
                                        และคุณสุทธิ์สมร แสงสุรศักดิ์ชัย ประธานเจ้าหน้าที่บริหาร บริษัท ไอดีไดรฟ์ จำกัด เพื่อการพัฒนา ยกระดับการเกษตรของประเทศในการใช้โดรนหรือ อากาศยานไร้คนขับเพื่อการเกษตร 
                                        โดยมีตัวแทนจากทั้งสองฝ่ายร่วมเป็นสักขีพยาน รศ.ดร. รัชพล สันติวรากร คณบดีคณะวิทยาศาสตร์ มหาวิทยาลัยขอนแก่น กล่าวว่า พันธกิจที่สำคัญของคณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น 
                                        ได้แก่การบริการวิชาการเพื่อเพิ่มขีดความสามารถในการแข่งขันของอุตสาหกรรมไทย และสร้างคุณค่าร่วมกับสังคม เพื่อการพัฒนาที่ยั่งยืน ซึ่งปัจจุบันกระแสโลกได้เปลี่ยนเข้าสู่ยุคโลกใหม่ 
                                        แบบ Knowledge-Based เข้าสู่ยุค Digital Economy อากาศยานไร้คนขับหรือโดนเพื่อการเกษตร จึงถูกนำมาใช้ในภาคการเกษตรเพื่อเพิ่มประสิทธิภาพการผลิต ลดต้นทุนการผลิต 
                                        ประหยัดเวลา แรงงาน โดยสามารถพ่นยา พ่นปุ๋ย และควบคุมคุณภาพการผลิตได้อย่างแม่นยำ ซึ่งถือว่าเป็นผลิตภัณฑ์นวัตกรรมเป็นหนึ่งเทคโนโลยีที่เข้ามามีบทบาทต่อรูปแบบการทำธุรกิจเชิงพาณิชย์มากขึ้น
                                        ด้านคุณสุทธิ์สมร แสงสุรศักดิ์ชัย ประธานเจ้าหน้าที่บริหาร บริษัท ไอดีไดรฟ์ จำกัด กล่าวว่าบริษัท ไอดีไดรฟ์ จำกัด ให้บริการด้านวิชาการที่เป็นประโยชน์ต่อชุมชนและสังคม ซึ่งได้แก่ด้าน Digital Economy 
                                        อากาศยานไร้คนขับหรือโดนเพื่อการเกษตร ซึ่งในประเทศไทยโดนเพื่อการเกษตรเข้ามามีบทบาทมากขึ้นในลักษณะของการทำการเกษตรแบบแม่นยำ ทำให้เกษตรกรสามารถดูแลผลผลิตทางการเกษตรได้อย่างตรงจุด 
                                        หากประเทศไทยมีการนำเทคโนโลยีโดรนเพื่อการเกษตรเข้ามาประยุกต์ใช้ตามนโยบายนาแปลงใหญ่ จะทำให้เกษตรกรสามารถลดต้นทุนได้เป็นอย่างมาก และในปัจจุบันมูลค่าตลาดโดรนเชิงพาณิชย์ของโลกอยู่ที่ราว 4.4 ล้านล้านบาท โดยมูลค่าโดนเพื่อการเกษตรอยู่ที่ราว 1.1 2 ล้านล้านบาท ซึ่งสูงเป็นอันดับ 2 ของประเทศ ดังนั้นเพื่อการยกระดับการเกษตรของประเทศ บริษัท ไอดีไดรฟ์ จำกัด จึงได้เล็งเห็นความสำคัญดังกล่าว และมีประสบการณ์ในการฝึกอบรมเชิงปฏิบัติการอากาศยานไร้คนขับหรือโดรน เพื่อขับเคลื่อนเศรษฐกิจภาคการเกษตรให้ก้าวไกลและสอดคล้องกับนโยบายการพัฒนาเศรษฐกิจของประเทศไทย หรือโมเดลพัฒนาเศรษฐกิจของประเทศไทย 4.0

                                </p><br>
                                <p>
                                <strong>ดูคลิปเพิ่มเติม : </strong> <a href="https://www.youtube.com/watch?v=MgoFvCcbi3Q" target="_blank">Youtube</a>
                                </p>
                                <p>
                                <strong>ขอบคุณข้อมูลจาก : </strong><a href="https://old.khonkaenlink.info/home/news/11037.html" target="_blank">Khonkaenlink</a>
                                </p>
                               
                            </div>
                            
                            <div class="col-sm-4">
                                 <p
                                    class="font-weight-bold"
                                    style="font-size:20px"
                                    >
                                    ข่าวสารอื่นๆ</p><br>
                                    
                                    <div class="cardnews">
                                        <img class="card-img-top" src="images/news2.jpg" alt="Card image cap">
                                        <div class="card-body">
                                        <p class="card-text">IDDrives And Young smart farmer รศ.ดร.ชุลีมาศ บุญไทย อิวาย อาจารย์ประจำคณะเกษตรศาสตร์ มหาวิทยาลัยขอนแก่น</p>
                                        </div>
                                    </div>

                                   	<hr noshade="noshade" width="250" size="6" >

                                      <div class="cardnews">
                                        <!-- <img class="card-img-top" src="images/news2.jpg" alt="Card image cap"> -->
                                        <div class="card-body">
                                        <p class="card-text">บริษัท ไอดีไดรฟ์ จำกัด ได้รับรองมาตรฐานแรงงานไทย (มรท.) จากสำนักงานสวัสดิการคุ้มครองแรงงานจังหวัดขอนแก่น เมื่อวันที่ 1 กรกฎาคม 2563</p>
                                        </div>
                                    </div>

                                    	<hr noshade="noshade" width="250" size="6" >

                                      <div class="cardnews">
                                        <!-- <img class="card-img-top" src="images/news2.jpg" alt="Card image cap"> -->
                                        <div class="card-body">
                                        <p class="card-text">บริษัท ไอดีไดรฟ์ (ไอดีเคลฟเวอร์) โดยคุณสุทธิ์สมร แสงสุรศักดิ์ชัย ประธานกรรมการผู้จัดการบริษัท และรองศาสตราจารย์ อภิสิฏฐ์ ศงสะเสน 
                                            คณบดีคณะวิทยาศาสตร์ มหาวิทยาลัยเกษตรศาสตร์ได้เข้าร่วมลงนามบันทึกข้อตกลงโครงการความร่วมมือทางวิชาการ (MOU) การทำบันทึกข้อตกลงในการสร้างความร่วมมือด้านวิชาการ 
                                            ด้านบริการวิชาการ และด้านวิจัยระหว่างคณะวิทยาศาสตร์และหน่วยงานเอกชนเพื่อแลกเปลี่ยนประสบการณ์ พัฒนาองค์ความรู้ทางวิชาการไปใช้ประโยชน์เพื่อให้เกิดผลสัมฤทธิ์ 
                                            ในวันจันทร์ที่ 29 มิถุนายน 2563 ณ ห้องประชุม 401 อาคารสุขประชา วาจานนท์ คณะวิทยาศาสตร์ มหาวิทยาลัยเกษตรศาสตร์</p>
                                        </div>
                                    </div>
                                
                                <!-- <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="images/news2.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">IDDrives And Young smart farmer รศ.ดร.ชุลีมาศ บุญไทย อิวาย อาจารย์ประจำคณะเกษตรศาสตร์ มหาวิทยาลัยขอนแก่น</p>
                                    </div>
                                </div>

                                 <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="images/news2.jpg" alt="Card image cap">
                                    <div class="card-body">
                                        <p class="card-text">IDDrives And Young smart farmer รศ.ดร.ชุลีมาศ บุญไทย อิวาย อาจารย์ประจำคณะเกษตรศาสตร์ มหาวิทยาลัยขอนแก่น</p>
                                    </div>
                                </div> -->


                            </div>

                                
                    </div>

                    

          </v-col>
       
        </v-container>
    </section>
</template>

<script>


export default {
    name:"allnews"
    
        
    };

</script>
>