<template>
    <section id="allservices">
            <v-container class="allservices">
                    <v-col
                        cols="12">
                            <center><p
                                class="font-weight-bold"
                                style="font-size:25px"
                            >
                            ธุรกิจของเรา</p></center>


                               <!-- Demo header-->
                        <section class="py-5 header">
                            <div class="container py-4">
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Tabs nav -->
                                        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link mb-3 p-3 shadow active" id="v-pills-iddriver-tab" data-toggle="pill" href="#v-pills-iddriver" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                                <i class="fa fa-user-circle-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:18px">ID Driver</p></a>

                                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-idklever-tab" data-toggle="pill" href="#v-pills-idklever" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:18px">ID Klever</p></a>

                                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-dronettc-tab" data-toggle="pill" href="#v-pills-dronettc" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:18px">Drone TTC</p></a>

                                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-idinsure-tab" data-toggle="pill" href="#v-pills-idinsure" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:18px">ID Insure</p></a>

                                            
                                        </div>
                                    </div>


                                    <div class="col-md-9">
                                        <!-- Tabs content -->
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade shadow rounded show active p-5" id="v-pills-iddriver" role="tabpanel" aria-labelledby="v-pills-iddriver-tab">
                                                   <p
                                                    class="font-weight-bold"
                                                    style="font-size:25px"
                                                    >โรงเรียนสอนขับรถ</p><br>
                                                    <p>
                                                        สถาบันสอนขับรถไอดี ไดร์ฟเวอร์พร้อมสอบใบอนุญาติขับขี่ทุกประเภท บริหารงานโดย บริษัทไอดี ไดร์ฟเวอร์ จำกัดจัดตั้งขึ้นเมื่อปี พ.ศ. 2536 
                                                        ได้รับอนุญาตรับรองเป็นโรงเรียนสอนขับรถเอกชนใบรับรองเลขที่ 4005007/2550 เป็นโรงเรียนต้นแบบในการสอนขับรถจักรยานยนต์ รถยนต์ 
                                                        รถบรรทุกรถขนส่งรถหัวลาก พร้อมหลักสูตรลดต้นทุนการขนส่งและลดอุบัติเหตุ เน้นในเรื่องประหยัดน้ำมันเชื้อเพลิงและประหยัดค่าซ่อมบำรุงรักษารถ 
                                                        เมื่อจบหลักสูตรแล้ว สามารถสอบใบขับขี่ได้ที่ไอดี ไดร์ฟเวอร์
                                                    </p><br>
                                                    <div class="myGallery">
                                                        <v-img src="images/driver1.png" />
                                                        <v-img src="images/driver2.jpg" />
                                                        <v-img src="images/driver3.jpg" />
                                                    </div><br>

                                                   <center><a href="https://www.iddriver.com/" class="btn btn-info" target="_blank"><span>รายละเอียดเพิ่มเติม</span></a></center>


                                                 
                                            </div>
                                            
                                            <div class="tab-pane fade shadow rounded p-5" id="v-pills-idklever" role="tabpanel" aria-labelledby="v-pills-idklever-tab">
                                                <p
                                                    class="font-weight-bold"
                                                    style="font-size:25px"
                                                    >ID Klever</p><br>
                                                    <p>
                                                    ผู้ให้บริการด้านพัฒนา SOFTWARE และ HARDWARE เพื่อตอบสนองความต้องการของลูกค้า ด้วยทีมงานผู้มีความเชี่ยวชาญเฉพาะทางเป็นพิเศษ 
                                                    เพื่อให้ท่านจะมั่นใจได้ว่าจะได้รับงานที่มีคุณภาพและบริการหลังการขายที่คุ้มค่า
                                                    </p><br>
                                                   <div class="myGallery">
                                                        <v-img src="images/klever1.jpg" />
                                                        <v-img src="images/klever2.jpg" />
                                                        <v-img src="images/klever3.jpg" />
                                                        <v-img src="images/klever4.jpg" />
                                                    </div><br>
                                                    <div class="myGallery">
                                                        <v-img src="images/klever5.jpg" />
                                                        <v-img src="images/klever6.jpg" />
                                                        <v-img src="images/klever7.jpg" />
                                                        <v-img src="images/klever8.jpg" />
                                                    </div><br>

                                                   <center><a button href="https://www.idklever.com/index.php" class="btn btn-info" arget="_blank"><span>รายละเอียดเพิ่มเติม</span></a></center>
                                               
                    
                                            </div>


                                            <div class="tab-pane fade shadow rounded p-5" id="v-pills-dronettc" role="tabpanel" aria-labelledby="v-pills-dronettc-tab">
                                                <p
                                                    class="font-weight-bold"
                                                    style="font-size:25px"
                                                    >โรงเรียนสอนบินโดรน</p><br>
                                                    <p>
                                                        โรงเรียนสอนบินโดรน เรียนบินโดรนพร้อมขึ้นทะเบียนผู้ครอบครองและผู้บังคับโดรน เพื่อพัฒนาสู่มืออาชีพ เรียนที่สนามฝึกบินของเราเอง
                                                        เรียนบินโดรน พร้อมขึ้นทะเบียนผู้บังคับโดรน และ ขึ้นทะเบียนผู้ครอบครองโดรน สู่มืออาชีพ เรียนที่สนามบินโดรนของเราเอง โล่ง กว้าง สะดวก สะบาย
                                                        ในพื้นที่ 4 จังหวัด ดังนี้ ขอนแก่น มหาสารคาม อ.แก่งคอย จ.สระบุรี อ.ลำลูกกา จ.ปทุมธานี
                                                        <strong>****เรียนพร้อมขึ้นทะเบียนผู้บังคับโดรนและผู้ครอบครองโดรน รับใบรับรองและของสมนาคุณอีกมากมาย****</strong>
                                                    </p><br>
                                                    <div class="myGallery">
                                                        <v-img src="images/drone1.jpg" />
                                                        <v-img src="images/drone2.jpg" />
                                                        <v-img src="images/drone3.jpg" />
                                                    </div><br>

                                                   <center><a href="https://www.dronettc.com/?zone=home" class="btn btn-info" target="_blank"><span>รายละเอียดเพิ่มเติม</span></a></center>

                                               


                    
                                            </div>

                                             <div class="tab-pane fade shadow rounded p-5" id="v-pills-idinsure" role="tabpanel" aria-labelledby="v-pills-idinsure-tab">

                                                 <p
                                                    class="font-weight-bold"
                                                    style="font-size:25px"
                                                    >ID Insure</p><br>
                                                    <p>ให้บริการเกี่ยวกับการตรวจสภาพรถออนไลน์ ต่อทะเบียนรถ ป้ายพรบ. ป้ายภาษี การทำประกันภัยยานพาหนะต่างๆ รวมไปถึงประกันภัยในด้านอื่นๆอีกมากมาย
                                                    </p><br>
                                                    <div class="myGallery">
                                                       <v-img src="images/insure1.jpg" />
                                                        <v-img src="images/insur2.jpg" />
                                                        <v-img src="images/insu3.jpg" />
                                                        <v-img src="images/insur4.jpg" />
                                                    </div><br>

                                                   <center><a href="https://www.dronettc.com/?zone=home" class="btn btn-info" target="_blank"><span>รายละเอียดเพิ่มเติม</span></a></center>
                                               



                                               
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>


                           

                        
                                
                    </v-col>
            </v-container>
                    
            <br><br>
    </section>
</template>

<script>
import Button from '../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Button.vue';


export default {
  components: { Button },
    name:"allservices"
    
        
    };

</script>
>