<template>
    <section id="contact">

        <v-container class="contact">
            <v-col
            cols="12">

            <center><p
                    class="font-weight-bold"
                    style="font-size:25px"
                    >
                    ติดต่อเรา</p></center>

                     <!-- Demo header-->
                        <section class="py-5 header">
                            <div class="container py-4">
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Tabs nav -->
                                        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                                <i class="fa fa-user-circle-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:20px">ติดต่อเรา</p></a>

                                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:20px">ร้องเรียนสินค้าและบริการ</p></a>

                                            
                                        </div>
                                    </div>


                                    <div class="col-md-9">
                                        <!-- Tabs content -->
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade shadow rounded show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                 <v-col
                                                    cols="12">
                                                        <p
                                                            class="font-weight-bold"
                                                            style="font-size:15px">ช่องทางการติดต่อ</p><br>
                                                        <p ><i class="fa fa-phone-square" aria-hidden="true"></i> : 043-228899</p><br>
                                                        <p ><i class="fa fa-envelope" aria-hidden="true"></i> : idofficer@iddrives.co.th   (สำนักงานใหญ่)</p><br>
                                                        <p ><i class="fa fa-envelope" aria-hidden="true"></i> : idmkt@iddrives.co.th   (ฝ่ายการตลาด)</p><br>
                                                        <p ><i class="fa fa-envelope" aria-hidden="true"></i> : iddm@iddrives.co.th   (ฝ่ายดิจิทัลมาร์เก็ตติ้ง)</p><br>
                                                        <p ><i class="fa fa-map-marker" aria-hidden="true"></i> : บริษัท ไอดีไดรฟ์ จำกัด 200/222 ม.2 ถ.ชัยพฤกษ์ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000  (สำนักงานใหญ่)</p><br>
                                                        
                                                        <p
                                                            class="font-weight-bold"
                                                            style="font-size:15px">ช่องทางการติดตาม</p><br>
                                                            <a href="https://www.facebook.com/ID-Drives-101257261227423/" target="_blank"> 
                                                                <i class="fab fa-facebook-f" style="font-size:200%;"></i>&nbsp;&nbsp;
                                                            </a>
                                                            <a href="https://www.youtube.com/channel/UCMZQTJfhJ95MlVnwnKSS52A" target="_blank">
                                                                <i class="fab fa-youtube" style="font-size:200%;"></i>&nbsp;&nbsp;
                                                            </a>
                                                            <a href="https://instagram.com/iddrives.co.ltd?utm_medium=copy_link" target="_blank">
                                                                <i class="fab fa-instagram" style="font-size:200%;"></i>&nbsp;&nbsp;
                                                            </a>
                                                            <a href="https://line.me/R/ti/p/%40265zbmwi" target="_blank">
                                                                <i class="fab fa-line" style="font-size:200%;"></i>
                                                            </a>
                                                 </v-col>
                                                 
                                            </div>
                                            
                                            <div class="tab-pane fade shadow rounded p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                               <p
                                                    class="font-weight-bold"
                                                    style="font-size:15px">จดหมายร้องเรียนสินค้าและบริการ</p>
                                                    <v-container class="formletter">
                                                            <v-col
                                                            cols="12">
                                                                <form id="survey-form" >
                                                                    <label for="name" id="name-label">ชื่อผู้ติดต่อ</label><br>
                                                                    <input class="form-control"  id="name" name="name" required><br>
                                                                    <label for="company" id="company-label">หน่วยงานผู้ติดต่อ</label><br>
                                                                    <input class="form-control" id="company" name="company" required><br>
                                                                    <label for="tel" id="tel-label">เบอร์โทรศัพท์</label><br>
                                                                    <input class="form-control"  id="tel" name="tel" required><br>
                                                                    <label for="email" id="email-label">อีเมล์</label><br>
                                                                    <input class="form-control" type="email" id="email" name="email" required><br>
                                                                    <label for="subject" id="subject-label">เรื่อง</label><br>
                                                                    <input class="form-control"  id="subject" name="subject" required><br>
                                                                
                                                                
                                                                    <label for="comments">รายละเอียด</label><br>
                                                                    <textarea class="form-control" id="comments" placeholder="Enter your comments here ..." name="comments" rows="4" cols="50"></textarea><br>
                                                                    
                                                                    
                                                                    <input class="form-control btn btn-info" type="submit" id="submit" value="ส่งข้อมูล">
                                                                    
                                                                    </form>
                                                            </v-col>
                                                    </v-container>
                    
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>






            </v-col>
        </v-container>








    </section>
</template>

<script>


export default {
    name:"contact"
    
        
    };

</script>
>