<template>
        <section id="location">

        <v-container class="location">
            <v-col
            cols="12">

            <center><p
                    class="font-weight-bold"
                    style="font-size:25px"
                    >
                    ที่ตั้งสำนักงาน</p></center>

                     <!-- Demo header-->
                        <section class="py-5 header">
                            <div class="container py-4">
                                
                                <div class="row">
                                    <div class="col-md-3">
                                        <!-- Tabs nav -->
                                        <div class="nav flex-column nav-pills nav-pills-custom" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                            <a class="nav-link mb-3 p-3 shadow active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                                <i class="fa fa-user-circle-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:20px">สำนักงานใหญ่</p></a>

                                            <a class="nav-link mb-3 p-3 shadow" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                                <i class="fa fa-calendar-minus-o mr-2"></i>
                                                <p class="font-weight-bold small text-uppercase" style="font-size:20px">สาขามิตรภาพ (ตรอ.)</p></a>

                                            
                                        </div>
                                    </div>


                                    <div class="col-md-9">
                                        <!-- Tabs content -->
                                        <div class="tab-content" id="v-pills-tabContent">
                                            <div class="tab-pane fade shadow rounded show active p-5" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                                <p
                                                    class="font-weight-bold"
                                                    style="font-size:15px">สำนักงานใหญ่</p><br>
                                                <p ><i class="fa fa-phone-square" aria-hidden="true"></i> : 043-228899</p><br>
                                                <p ><i class="fa fa-map-marker" aria-hidden="true"></i> : บริษัท ไอดีไดรฟ์ จำกัด 200/222 ม.2 ถ.ชัยพฤกษ์ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000</p><br>
                                                
                                            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d568.8885740076497!2d102.85834082655666!3d16.424272781118002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x54941db8580c4b1a!2z4LmC4Lij4LiH4LmA4Lij4Li14Lii4LiZ4Liq4Lit4LiZ4LiC4Lix4Lia4Lij4LiWSUQgZHJpdmVy!5e0!3m2!1sen!2sth!4v1624616775865!5m2!1sen!2sth" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                                                 
                                            </div>
                                            
                                            <div class="tab-pane fade shadow rounded p-5" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                               <p
                                                    class="font-weight-bold"
                                                    style="font-size:15px">สาขามิตรภาพ (ตรอ.)</p><br>
                                                <p ><i class="fa fa-map-marker" aria-hidden="true"></i> : 104/28 หมู่ที่ 14 ถ. มิตรภาพ ในเมือง อำเภอเมืองขอนแก่น ขอนแก่น 40000</p><br>
                                                
                                            <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1352.8807823960205!2d102.83105343418467!3d16.448948350169005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x841cf29962d35fbf!2z4LiV4Lij4LitLiDguYTguK3guJTguLUg4LmE4LiU4Lij4LmM4Lif4LmA4Lin4Lit4Lij4LmMIOC4quC4suC4guC4suC4oeC4tOC4leC4o-C4oOC4suC4ng!5e0!3m2!1sen!2sth!4v1624617154403!5m2!1sen!2sth" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>






            </v-col>
        </v-container>








    </section>
</template>

<script>


export default {
    name:"location"
    
        
    };

</script>
>