<template>
        <section id="aboutus">
           
                <v-container
                    id="abotus"

                >
                <center>
                   <p
                                class="font-weight-bold"
                                style="font-size:25px"
                                >
                                เกี่ยวกับเรา</p><br>

                    <div class="row justify-content-md-center">
                                                     <div class="col-md-auto">
                                                            <v-img 
                                                            max-height="auto"
                                                            max-width="80%"
                                                            src="images/paddsvg.png"></v-img>
                                                    </div>

                                                    <div class="align-self-center">
                                                        <div class="col-md-8">
                                                                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                                                            <!-- Carousel indicators -->
                                                                            <ol class="carousel-indicators">
                                                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                                                                <li data-target="#myCarousel" data-slide-to="2"></li>
                                                                            </ol>   
                                                                            <!-- Wrapper for carousel items -->
                                                                            <div class="carousel-inner">
                                                                                <div class="carousel-item active">
                                                                                                         <p
                                                                                                                class="font-weight-bold"
                                                                                                                style="font-size:20px"
                                                                                                                >
                                                                                                                วิสัยทัศน์</p><br>
                                                                                                                <p
                                                                                                                style="font-size:15px"
                                                                                                                >
                                                                                                                ผู้นำด้านนวัตกรรม ก้าวล้ำด้วยผลงาน บริการด้วยใจ ก้าวไกลสู่สากล</p>
  
                                                                                    <!-- <p class="overview"><b>Paula Wilson</b>, Media Analyst</p> -->
                                                                                </div>

                                                                                <div class="carousel-item">
                                                                                                        <p
                                                                                                            class="font-weight-bold"
                                                                                                            style="font-size:20px;" 
                                                                                                            >
                                                                                                            พันธกิจ</p><br>
                                                                                                            <p
                                                                                                            style="font-size:15px"
                                                                                                            >
                                                                                                            ผลักดันกลยุทธ์เข้าสู่ยุคดิจิตอล เพิ่มคุณค่าสินค้าและบริการด้วยเทคโนโลยี ดูแลและบริการลูกค้าดั่งครอบครัว 
                                                                                                            ยกระดับศักยภาพของพนักงานสู่สากล ตอบสนองความต้องการของลูกค้าเหนือความคาดหมาย</p>
                                                                                </div>
                                                                                <div class="carousel-item">
                                                                                                        <p
                                                                                                            class="font-weight-bold"
                                                                                                            style="font-size:20px;"
                                                                                                            >
                                                                                                            ค่านิยม</p><br>
                                                                                                            <p
                                                                                                            style="font-size:15px"
                                                                                                            >
                                                                                                            ทีมงานเป็นเลิศ เปิดใจรับ ปรับแนวคิด สร้างเครื่อข่ายอัจฉริยะ</p>
                                                                                </div>
                                                                                
                                                                            </div>


                                                                            <!-- Carousel controls -->
                                                                            <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                                                                                <i class="fa fa-angle-left" id="nexticon"></i>
                                                                            </a>
                                                                            <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                                                                                <i class="fa fa-angle-right" id="nexticon"></i>
                                                                            </a>
                                                                        </div>

                                                        </div>
                                
                                                    </div>

                                                      
                                             

                                                       
                    </div>
                   


                </center>
                </v-container>
         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="waveabout">
            
              <path fill="#ffe7d7" fill-opacity="1" d="M0,32L80,37.3C160,43,320,53,480,96C640,139,800,213,960,224C1120,235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
            </svg>
            <br><br>
        </section>
</template>