<template>
<section id="nav">
           <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" style="background-color: #0000008f;">
             
              <div class="container">
                  <!-- <div class="logonav">
                    <v-img src="images/logohori2.png" class="logonav" />
                  </div>&nbsp; -->
                
                <a class="navbar-brand" href="#" style="font-size:20px" @click="redirectTo('/')">บริษัท ไอดีไดรฟ์ จำกัด</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                
                <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto navul">
                    <li class="nav-item active">
                      <router-link to="/">
                      <a class="nav-link" >หน้าหลัก</a>
                      </router-link>
                    </li>
                    <li class="nav-item">
                      <router-link to="/allservices" class="nav-link" href="#services">ผลิตภัณฑ์และบริการ</router-link>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#bussinessop">โอกาสทางธุรกิจ</a>
                    </li>
                    <li class="nav-item">
                      <router-link to="/aboutcompany" class="nav-link" href="#aboutus">เกี่ยวกับเรา</router-link>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#news">ข่าวสาร</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#certificate">การรับรอง</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#contactus">ติดต่อเรา</a>
                    </li>
                  </ul>
                  
                  <button type="button" style="color:#e67825;" class="btn btn-light">TH | ENG</button>
                </div>
                
              </div>
            </nav>
        

</section>
</template>



<script>
  export default {
    data: () => ({
      items: [
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me' },
        { title: 'Click Me 2' },
      ],
    }),
     computed: {
           
   

        },
        
        mounted() {
        //  this.$store.dispatch(ToogleAction);
        
         },
        
  
        methods: {

      redirectTo(name) {
                    this.$router.push(name)
                  }

        },

        components: {

        },

    }
</script>


<!--<template>-->
<!--    <div>-->
<!--        <v-app-bar color="white accent-4" class="hidden-lg-and-up" height="70">-->
<!--            <img src="/images/logo.png" class="image-logo-mobile">-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-app-bar-nav-icon class="black&#45;&#45;text hidden-lg-and-up" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>-->
<!--        </v-app-bar>-->
<!--        <div class="header">-->
<!--            <span id="hide-hover"></span>-->
<!--            <v-app-bar dense  elevate-on-scroll :scroll-off-screen="true" scroll-target="#hide-hover" color="transparent" class="hidden-md-and-down">-->
<!--                <div class="logo">-->
<!--                    <router-link to="/home">-->
<!--                        <v-img src="/images/logo.png" class="logo-image"></v-img>-->
<!--                    </router-link>-->
<!--                </div>-->
<!--                &lt;!&ndash; <v-spacer></v-spacer> &ndash;&gt;-->
<!--                <div class="ml-5 head-menu">-->
<!--                    <router-link :to="{ path: '/'} ">-->
<!--                        <span class="black&#45;&#45;text menu f-23 hvr-overline-from-center font-600 home-menu"> หน้าหลัก </span>-->
<!--                    </router-link>-->
<!--                    <router-link :to="{ path: '/inventory'} ">-->
<!--                        <span class="black&#45;&#45;text menu f-23 hvr-overline-from-center font-600 category-menu"> ค้นหารถ </span>-->
<!--                    </router-link>-->
<!--                    <router-link :to="{ path: '/blog'} ">-->
<!--                        <span class="black&#45;&#45;text menu f-23 hvr-overline-from-center font-600 blog-menu"> บทความ </span>-->
<!--                    </router-link>-->
<!--                    <router-link :to="{ path: '/contact'} ">-->
<!--                        <span class="black&#45;&#45;text menu f-23 hvr-overline-from-center font-600 contact-menu"> ติดต่อเรา </span>-->
<!--                    </router-link>-->
<!--                </div>-->
<!--                &lt;!&ndash; <v-app-bar-nav-icon class="white&#45;&#45;text hidden-sm-and-up" @click.stop="drawer = !drawer"></v-app-bar-nav-icon> &ndash;&gt;-->
<!--            </v-app-bar>-->
<!--        </div>-->
<!--        <v-navigation-drawer app v-model="drawer" absolutet temporary right>-->
<!--            <v-list-item>-->
<!--                <v-list-item-content>-->
<!--                    <v-list-item-title>-->
<!--                        <span class="title"> CARCOMBINED </span>-->
<!--                    </v-list-item-title>-->
<!--                    <v-list-item-subtitle>-->
<!--                        Menu-->
<!--                    </v-list-item-subtitle>-->
<!--                </v-list-item-content>-->
<!--            </v-list-item>-->
<!--            <v-divider></v-divider>-->
<!--            <v-list dense nav>-->
<!--                <v-list-item v-for="item in items" :key="item.title" link @click="navigation(item.route)">-->
<!--                    <v-list-item-content>-->
<!--                        <v-list-item-title class="font-thai">{{ item.title }}</v-list-item-title>-->
<!--                    </v-list-item-content>-->
<!--                </v-list-item>-->
<!--            </v-list>-->
<!--        </v-navigation-drawer>-->
<!--    </div>-->
<!--</template>-->

<!--<script>-->
<!--    export default {-->
<!--        data:() => ({-->
<!--            drawer : null,-->
<!--            right: null,-->
<!--            items: [-->
<!--                { title: 'หน้าหลัก', route: '/home'     },-->
<!--                { title: 'ค้นหารถ',  route: '/inventory' },-->
<!--                { title: 'บทความ',  route: '/blog'     },-->
<!--                { title: 'ติดต่อเรา',  route: '/contact'  },-->
<!--            ],-->
<!--        }),-->
<!--        methods : {-->
<!--            navigation(route) {-->
<!--                this.$router.push(route).catch(err => {})-->
<!--            }-->
<!--        }-->
<!--    }-->
<!--</script>-->
