<template>
<section id="bussinessop">
                <v-container
                    class="bussinessop"
                >
                <center>
                    <v-col
                        cols="10">
                        <p
                                class="font-weight-bold"
                                style="font-size:25px"
                            >
                            โอกาสทางธุรกิจ</p><br>

                            <div class="cards-list">

                                        
                                        <router-link to="/allbusinessop" class="cardbuss">
                                                <div class="card_image"> <img src="images/drivesch.png" /> </div><br>
                                                <div class="card_title title-white">
                                                    <p style="font-size:20px">โรงเรียนสอนขับรถ</p>
                                                </div>
                                        </router-link>
                                        


                                         <div class="cardbuss">
                                                <div class="card_image"> <img src="images/carcheck.png" /> </div><br>
                                                <div class="card_title title-white">
                                                    <p style="font-size:20px">สถานตรวจสภาพรถเอกชน</p>
                                                </div>
                                        </div>


                                         <div class="cardbuss">
                                                <div class="card_image"> <img src="images/dronesch.jpg" /> </div><br>
                                                <div class="card_title title-white">
                                                    <p style="font-size:20px">โรงเรียนสอนบินโดรน</p>
                                                </div>
                                        </div>

                                       

                            </div>
                    </v-col>
                </center>
                </v-container>
                <br><br>
        </section>
    
</template>