<template>
<section id="certificate" class="section-slider">
    
    <center>
        <v-container class="certificate">
            <br><br>
            <p
        class="font-weight-bold"
        style="font-size:25px"
        >
        การรับรอง</p>
              
        

        <v-col
        cols="10">

                 
                    <div class="slider">
                        <img class="img-slider" src="images/1.png">
                        <img class="img-slider" src="images/2.png">
                        <img class="img-slider" src="images/3.png">
                        <img class="img-slider" src="images/4.png">
                        <img class="img-slider" src="images/5.png">
                        <img class="img-slider" src="images/6.png">
                        <img class="img-slider" src="images/7.png">
                        <img class="img-slider" src="images/8.png">
                    </div>
                

        </v-col>

              
           
           <br><br>
        </v-container>
        </center>
</section>

</template>















