<template>
    <section id="contactus">
        <br><br>
      <v-container class="contactus">
      
           
        <v-col
        cols="10">

            <div class="row justify-content-md-center">
                <center> <p
                        class="font-weight-bold"
                        style="font-size:25px"
                        >
                        ติดต่อเรา</p> </center><br><br>
                      
                          <router-link to="/contact" class="card mb-3 cardcontact" style="max-width: 500px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                    <center><v-img src="images/contact.png" class="card-imgcontact" alt="..." style="width: 200px;" /></center>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">ติดต่อเรา</h5>
                                        <p class="card-text">043-228899</p>
                                        <p class="card-text">idofficer@iddrives.co.th</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    </div>
                                </div>
                          </router-link>&nbsp;
        
                            <router-link to="/location" class="card mb-3 cardcontact" style="max-width: 500px;">
                                <div class="row no-gutters">
                                    <div class="col-md-4">
                                    <center><v-img src="images/location.png" class="card-imgcontact" alt="..." style="width: 200px;" /></center>
                                    </div>
                                    <div class="col-md-8">
                                    <div class="card-body">
                                        <h5 class="card-title">สถานที่ตั้ง</h5>
                                        <p class="card-text">บริษัท ไอดีไดรฟ์ จำกัด
                                            200/222 ม.2 ถ.ชัยพฤกษ์ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000</p>
                                        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                                    </div>
                                    </div>
                                </div>
                            </router-link>
            </div>
            </v-col>
            
             
      </v-container>
       <br><br>
       
    </section>



</template>