<template>
<section id="footer">
                    <div class="mt-5 pt-5 pb-5 footer navbar-expand-lg navbar-dark bg-dark">
                        <div class="container">
                                <div class="row">
                                    <div class="col-lg-5 col-xs-12 about-company">
                                        <v-img src="images/logohori2.png" class="logofoot" /><br>
                                        <p class="font-weight-bold" style="color:#e67825; font-size:30px;">บริษัท ไอดีไดรฟ์ จำกัด</p><br>
                                            <p>200/222 ม.2 ถ.ชัยพฤกษ์ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000</p>
                                            
                                      
                                        
                                        <!-- <p class="pr-5 text-white-50">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam tristique convallis </p> -->
                                        <!-- <p><a href="#"><i class="fa fa-facebook-square mr-1"></i></a><a href="#"><i class="fa fa-linkedin-square"></i></a></p> -->
                                    </div>
                                    
                                    <div class="col-lg-3 col-xs-12 links">
                                        <h4 class="mt-lg-0 mt-sm-3" style="color:#e67825;">Links</h4>
                                            <ul class="m-0 p-0">
                                            <li>- <a href="#">Lorem ipsum</a></li>
                                            <li>- <a href="#">Nam mauris velit</a></li>
                                            <li>- <a href="#">Etiam vitae mauris</a></li>
                                            <li>- <a href="#">Fusce scelerisque</a></li>
                                            <li>- <a href="#">Sed faucibus</a></li>
                                            <li>- <a href="#">Mauris efficitur nulla</a></li>
                                            </ul>
                                    </div>
                                    <div class="col-lg-4 col-xs-12">
                                            <h4 class="mt-lg-0 mt-sm-4" style="color:#e67825;">ช่องทางการติดต่อ</h4><br>
                                            <p class="mb-0">โทร  : 043-228899</p>
                                            <p>อีเมลล์ : idofficer@iddrives.co.th</p><br>
                                              <a href="#">
                                                <i class="fab fa-facebook-f"></i>&nbsp;&nbsp;
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-youtube"></i>&nbsp;&nbsp;
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-instagram"></i>&nbsp;&nbsp;
                                                </a>
                                                <a href="#">
                                                    <i class="fab fa-line"></i>
                                                </a>

                                            <!-- <p>200/222 ม.2 ถ.ชัยพฤกษ์ ต.ในเมือง อ.เมือง จ.ขอนแก่น 40000</p>
                                            <p class="mb-0">โทร  : 043-228899</p>
                                            <p>อีเมลล์ : idofficer@iddrives.co.th</p> -->
                                    </div>
                                </div>

                                <div class="row mt-5">
                                    <div class="col copyright">
                                    <p class=""><small class="text-white-50">ID Drive Co., Ltd. &copy; Copyright 2021.</small></p>
                                    </div>
                                </div>
                        </div>
                    </div>

         
         
            


</section>
</template>


