<template>
    <section id="imgcover">
        <v-img
        id="coverimg"
        max-height="550"
        max-width="auto"
        src="images/cover3.jpeg"
        >   
        </v-img>
        

        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
              <path fill="#ffd4b6" fill-opacity="1" d="M0,288L60,266.7C120,245,240,203,360,181.3C480,160,600,160,720,181.3C840,203,960,245,1080,250.7C1200,256,1320,224,1380,208L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>
        </svg> -->

        
    
    </section>

</template>