<template>
    <section id="news">
        <v-container class="news">
            <v-col
                cols="10">
                    <center><p
                    class="font-weight-bold"
                    style="font-size:25px"
                    >
                    ข่าวสาร</p></center><br>
                            <!-- <h1>LATEST NEWS</h1> -->
                            <div class="archive">
                                <router-link to="/allnews" class="article">
                                <v-img src="images/news1.jpg" class="image" /><br>
                                <p class="font-weight-medium"
                                        style="font-size:20px">
                                        คณะวิศวกรรมศาสตร์ มหาวิทยาลัยขอนแก่น และบริษัท ไอดีไดรฟ์ จำกัด ร่วมพัฒนาหลักสูตรอากาศยานไร้คนขับ เพื่อการเกษตร</p>
                                
                                </router-link>

                                <article class="article">
                                <hr>
                                <v-img src="images/news2.jpg" class="image" /><br>
                                <p class="font-weight-medium"
                                        style="font-size:20px">
                                        IDDrives And Young smart farmer รศ.ดร.ชุลีมาศ บุญไทย อิวาย อาจารย์ประจำคณะเกษตรศาสตร์ มหาวิทยาลัยขอนแก่น
                                        </p>
                                <hr>
                                </article>

                                <article class="article">
                                <hr>
                                <p class="font-weight-medium"
                                        style="font-size:20px">บริษัท ไอดีไดรฟ์ จำกัด ได้รับรองมาตรฐานแรงงานไทย (มรท.) จากสำนักงานสวัสดิการคุ้มครองแรงงานจังหวัดขอนแก่น เมื่อวันที่ 1 กรกฎาคม 2563</p>
                                
                                <hr>
                                </article>

                                <article class="article">
                                <v-img src="images/drivesch.png" class="image" />
                                <hr>
                                <hr>
                                <hr>
                                <hr>
                                <hr>
                                </article>

                                <!-- <article class="article">
                                <hr>
                                <p class="font-weight-medium"
                                        style="font-size:20px">พิธีลงนามบันทึกข้อตกลงโครงการความร่วมมือทางวิชาการ (MOU) ระหว่าง มหาวิทยาลัยเกษตรศาสตร์ กับ บริษัท ไอดีไดรฟ์ จำกัด</p>
                                <hr>
                                </article> -->

                            

                                <!-- <article class="article">11
                                <hr>
                                <hr>
                                <hr>
                                </article>
                               <article class="article">12
                                <hr class="image"><hr>
                                <hr>
                                <hr>
                                </article>
                                <article class="article">12
                                <hr class="image"><hr>
                                <hr>
                                <hr>
                                </article>
                               
                                
                                <article class="article">12
                                <hr class="image"><hr>
                                <hr>
                                <hr>
                                </article> -->
                        </div><br>
                        <!-- <router-link to="/allnews" class="btn btn-info"><span>ข่าวสารทั้งหมด</span></router-link> -->
            </v-col>
        </v-container>
        <br><br>
  
    </section>
</template>






