<template>
      <section id="services">

            <v-container
              class="services"
              grid-list-md text-xs-center
            >
            
            <center>
              <v-col
                cols="12"
                >
                    
                    <div class="card">
                        <div class="card-body">
                          <center><p
                    class="font-weight-bold"
                    style="font-size:25px"
                    >
                    ธุรกิจของเรา</p></center>
                  
                            <div class="hori-timeline" dir="ltr">
                                <ul class="list-inline events">
                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                          <center><v-img
                                                max-height="50%"
                                                max-width="50%"
                                                top="0"
                                                src="images/driver.jpg"
                                                >   
                                          </v-img></center>
                                            <div class="event-date text-primary"></div><br>
                                            <h5 class="font-weight-bold"
                                                style="font-size:20px">โรงเรียนสอนขับรถ</h5>
                                            <p class="text-muted">โรงเรียนต้นแบบในการสอนหลักสูตรขับรถจักรยานยนต์ รถยนต์ รถบรรทุกรถขนส่งรถหัวลาก และสามารถสอบใบขับขี่ได้ที่ไอดี ไดร์ฟเวอร์</p>
                                            <div>
                                                <!-- <a href="https://www.iddriver.com/" class="btn btn-info btn-sm" target="_blank">ดูเพิ่มเติม</a> -->
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                          <center><v-img
                                                max-height="50%"
                                                max-width="50%"
                                                top="0"
                                                src="images/klever.png"
                                                >   
                                          </v-img></center>
                                            <div class="event-date text-primary"></div><br>
                                            <h5 class="font-weight-bold"
                                                style="font-size:20px">Id Klever</h5>
                                            <p class="text-muted">ผู้ให้บริการด้านพัฒนา software และ hardware
เพื่อตอบสนองความต้องการของลูกค้า ด้วยทีมงานผู้มีความเชี่ยวชาญเฉพาะทางเป็นพิเศษ เพื่อให้ท่านจะมั่นใจได้ว่าจะได้รับงานที่มีคุณภาพและบริการหลังการขายที่คุ้มค่า</p>
                                            <div>
                                                <!-- <a href="https://www.idklever.com/" class="btn btn-info btn-sm" target="_blank">ดูเพิ่มเติม</a> -->
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                          <center><v-img
                                                max-height="50%"
                                                max-width="50%"
                                                top="0"
                                                src="images/dronettc.png"
                                                >   
                                          </v-img></center>
                                            <div class="event-date text-primary"></div><br>
                                            <h5 class="font-weight-bold"
                                                style="font-size:20px">Drone TTC</h5>
                                            <p class="text-muted">โรงเรียนสอนบินโดรน เรียนบินโดรนพร้อมขึ้นทะเบียนผู้ครอบครองและผู้บังคับโดรน เพื่อพัฒนาสู่มืออาชีพ โดยเรียนที่สนามฝึกบินของเราเอง</p>
                                            <div>
                                                <!-- <a href="https://www.dronettc.com/" class="btn btn-info btn-sm" target="_blank">ดูเพิ่มเติม</a> -->
                                            </div>
                                        </div>
                                    </li>

                                    <li class="list-inline-item event-list">
                                        <div class="px-4">
                                          <center><v-img
                                                max-height="50%"
                                                max-width="50%"
                                                top="0"
                                                src="images/insure.jpeg"
                                                >   
                                          </v-img></center>
                                            <div class="event-date text-primary"></div><br>
                                            <h5 class="font-weight-bold"
                                                style="font-size:20px">ID Insure</h5>
                                            <p class="text-muted">ให้บริการเกี่ยวกับการตรวจสภาพรถออนไลน์ ต่อทะเบียนรถ ป้ายพรบ. ป้ายภาษี การทำประกันภัยยานพาหนะต่างๆ รวมไปถึงประกันภัยในด้านอื่นๆอีกมากมาย</p>
                                            <div>
                                                <!-- <a href="#" class="btn btn-info btn-sm">ดูเพิ่มเติม</a> -->
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                                
                            </div><br>
                            <router-link to="/allservices" class="btn btn-info"><span>บริการทั้งหมด</span></router-link>
                        </div>
                    </div>
                <!-- end card -->

              </v-col>
            </center>

            </v-container>





            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" id="waveservice">
            
              <path fill="#FFC8A1" fill-opacity="1" d="M0,32L80,37.3C160,43,320,53,480,96C640,139,800,213,960,224C1120,235,1280,181,1360,154.7L1440,128L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
            </svg> -->
            <br>

      </section>
</template>


<script>
import Button from '../../../vendor/laravel/jetstream/stubs/inertia/resources/js/Jetstream/Button.vue'
  export default {
  components: { Button },
    data: () => ({
      items: [
        {
          color: 'red lighten-2',
          icon: 'mdi-star',
        },
        {
          color: 'purple darken-1',
          icon: 'mdi-book-variant',
        },
        {
          color: 'green lighten-1',
          icon: 'mdi-airballoon',
        },
      ],
    }),
    computed: {
           
      
            

        },
        
        mounted() {
        //  this.$store.dispatch(ToogleAction);
        
         },
        
  
        methods: {
  
    
          
              openDetailView () {
                   this.isNavbarCollapseOpen = !this.isNavbarCollapseOpen
                 this.$store.dispatch(TOOLGE,this.isNavbarCollapseOpen);

    },
    redirectTo(name) {
               this.$router.push(name)
            }

            
        },


        components: {

        },
   
         
    }
</script>
